# dotenv environment variables file
.env
.env.local
package-lock.json
# Dependency directories
node_modules/
#npm
.npmrc
.npmrc*
.npmr*
# Dev
dev/
test/certs/
/dist
testBig.txt*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*